<h1>Welcome to My Blog!</h1>

<p><%= link_to 'Show All Articles', controller: 'articles' %></p>
<p><%= link_to 'My Github Page', 'https://github.com/boratanrikulu' %></p>


<p><%= link_to 'Create a New Article', new_article_path %></p>

